.category-card {
  flex-grow: 1;
  width: 100px;
  height: 160px;
  padding: 48px 20px 0;

  .category-img {
    width: 100px;
    height: 100px;
  }

  .category-desc {
    font-size: 24px;
    color: rgb(69, 69, 69);
    text-align: center;
  }
}