@import "../../../styles/theme.scss";

.block-title {
  display: flex;
  flex-direction: row;
  // width: 100%;
  height: 128px;
  // box-sizing: border-box;
  padding: 56px 40px 32px;
  align-items: flex-end;

  &-title-text {
    font-size: 40px;
    font-weight: bold;
    color: $color-f1;
  }

  &-subtitle {
    padding-bottom: 0px;
    @include eject(padding-bottom, 4px);
  }

  &-subtitle-text {
    font-size: 24px;
    color: $color-f2;
  }

  &-see-more-text {
    font-size: 32px;
    color: $color-z1;
  }
}