// style reset in H5 and weapp

/*postcss-pxtransform rn eject enable*/
/* weapp */
page {
  height: 100%;
}

view,
text,
scroll-view {
  // box-sizing: border-box;
}

button {
  &:after {
    display: none;
  }
}

/* h5 */
div {
  // box-sizing: border-box;
}

button {
  outline: none;
}

.taro-text {
  // box-sizing: border-box;
}

.taro-tabbar__panel,
.taro_router {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.taro_page {
  flex: 1;
}
/*postcss-pxtransform rn eject disable*/
