@import "../../../styles/theme.scss";

@mixin styleBlock() {
  width: 80px;
  height: 72px;
  margin: 0 10px;
  background-color: $color-f1;
  border-radius: 12px;
}

.delegation-card {
  flex: 0 0 676px;
  position: relative;
  width: 676px;
  height: 404px;
  padding: 0 20px 0 0;

  &-img {
    width: 100%;
    height: 268px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &-price {
    position: absolute;
    top: 210px;
    width: 636px;
    height: 56px;
    // box-sizing: border-box;
    padding: 0 20px;
    @include eject(text-align, right);
    @include eject(line-height, 56px);
    background-color: rgba(0,0,0,.4);

    &-text {
      text-align: right;
      font-weight: bold;
      line-height: 56px;
      font-size: 32px;
      color: $color-z1;
    }
  }

  &-time {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 160px;
    margin-left: 20px;

    &-desc {
      @include styleBlock();
      @include eject(text-align, center);
      @include eject(line-height, 20px);

      &-wrapper {
        padding: 8px 16px;
        /*postcss-pxtransform rn eject enable*/
        line-height: 20px;
        /*postcss-pxtransform rn eject disable*/
      }

      &-interval-wrapper {
        padding: 10px 0 0;
        /*postcss-pxtransform rn eject enable*/
        padding: 0 20px;
        /*postcss-pxtransform rn eject disable*/
      }

      &-text {
        text-align: center;
        font-size: 20px;
        color: $color-f6;
      }
    }

    &-interval {
      @include styleBlock();
      // padding: 16px 20px 0px;
    }
  }
  &-interval-num {
    @include eject(text-align, center);
    height: 30px;
    @include eject(height, 20px);
    @include eject(line-height, 30px);
    @include eject(padding-top, 10px);
  }
  &-interval-num-text {
    line-height: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: $color-f5;
  }
  &-interval-unit {
    height: 20px;
    @include eject(text-align, center);
    @include eject(line-height, 30px);
  }
  &-interval-unit-text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $color-f6;
  }

  &-desc {
    @include flex(space-between, center);
    flex-direction: row;
    // box-sizing: border-box;
    padding: 20px;

  }

  &-situation {
    height: 24px;
    &-text {
      font-size: 24px;
      color: $color-f2;
    }
  }

  &-join {
    width: 144px;
    height: 56px;
    border-radius: 56px;
    background-color: $color-z1;
    @include eject(text-align, center);
    @include eject(line-height, 56px);

    &-text {
      color: $color-f6;
      font-size: 28px;
      text-align: center;
      line-height: 56px;
    }
  }


  &-desc-desc {
    // background-color: #000;
  }


  &-desc-title {
    height: 28px;
    @include eject(line-height, 28px);
    &-text {
      font-size: 28px;
      color: $color-f1;
    }
  }
}