.intro-card {
  flex: 0 0 340px;
  width: 210px;
  height: 270px;
  padding: 48px 20px 0;

  .intro-img {
    width: 210px;
    height: 210px;
  }

  .intro-desc {
    font-size: 24px;
    color: rgb(144, 144, 144);
    text-align: center;
  }
}