@import "../../../styles/theme.scss";

.intro-card {
  &-card {
    flex: 0 0 250px;
    width: 210px;
    height: 270px;
    padding: 48px 20px 0;
  }

  &-img {
    width: 210px;
    height: 210px;
  }

  &-desc {
    @include eject(text-align, center);
  }

  &-desc-text {
    font-size: 24px;
    color: $color-f2;
    text-align: center;
  }
}